<!-- Add you custom twig html here -->
{% if(pokemons) %}
  <div class="row">
    <div class="container-inline">
      <a href="/user" class="btn btn-primary">My favorites</a>
    </div>
  </div>
  <hr/>
  <div class="row pokemon-content-wrapper" id="pokemon-content-wrapper">
    {% for pokemon in pokemons %}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body card-5-7">
            <div class="card-left">
              {{ pokemon.name }}
            </div>
            <div class="card-right">
              <button data-url="{{ pokemon.url }}" class="btn btn-default add-favorite {{ pokemon.class }}"
                      data-name="{{ pokemon.name }}"><i class="glyphicon glyphicon-heart"></i></button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if previous %}
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only previous-button" data="{{ previous }}">Previous</span>
            </a>
          </li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">Current</a></li>
        {% if next %}
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only next-button" data="{{ previous }}">Next</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% else %}
  <div class="container">
    <h2>¡You need authenticate</h2>
    <a href="/user/login" class="btn btn-primary">Login</a>
  </div>
{% endif %}

<div class="modal" tabindex="-1" role="dialog" id="message">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
