{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <!-- Add you custom twig html here -->
  {% if(pokemons) %}
    <div class="row pokemon-content-wrapper" id="pokemon-content-wrapper">
      {% for pokemon in pokemons %}
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body card-5-7">
              <div class="card-left">
                {{ pokemon['name_pokemon'] }}
              </div>
              <div class="card-right">
                <button class="compare" data-name="{{ pokemon['name_pokemon'] }}">{{ 'compare'|t }}</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row pokemon-compare-wrapper">
      <div class="left col-sm-6"></div>
      <div class="right col-sm-6"></div>
    </div>
  {% else %}
    <div class="container">
      <h2>¡You don't have pokemons favorites!</h2>
    </div>
  {% endif %}
  <div class="modal" tabindex="-1" role="dialog" id="loader">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>
